
#sign-up-form-div {
    padding: 20px;
}

#sign-up-form {
    background-color: white;
    padding: 10px;
    border: 1px solid #e1e3e7;
    border-radius: 10px;
    box-shadow:0 4px 20px rgba(0, 0, 0, 0.04);
}

#sign-up-form-brand-logo-div {
    display: flex;
    justify-content: center;
    margin: 20px 0px 20px 0px;
}

.sign-up-input-div {
    margin-top: 10px;
    margin-bottom: 10px;
}

#sign-up-submit-btn {
    width: 100%;
    background: #42b72a;
}

#login-prompt-div {
    display: flex;
    align-items: center;
    margin-top: 20px;
}

#login-prompt {
    font-size: 12px;
    font-style: italic;
    margin-left: 5px;
}

@media only screen and (min-width: 768px) {
    div#sign-up-form {
        margin-right: 100px;
        margin-left: 100px;
        padding: 30px;
    }


}

@media only screen and (min-width: 1024px) {
    div#sign-up-form{
        margin-right: 200px;
        margin-left: 200px;
        padding: 40px;
    }
}


@media only screen and (min-width: 1440px) {
    div#sign-up-form{
        margin-right: 350px;
        margin-left: 350px;
        padding: 50px;
    }
}