#landing-page-div {
    display: flex;
    justify-content: center;
}

#id-card-div {
    padding: 20px!important;
    background-color: white;
    padding: 10px;
    border: 1px solid #e1e3e7;
    border-radius: 10px;
    box-shadow:0 4px 20px rgba(0, 0, 0, 0.04);
}

#id-photo-div {
    display: flex;
    justify-content: center;
    margin: 20px 0px 20px 0px;
}

.id-photo {
    height: 60px;
}

.id-card-field {
    margin-bottom: 10px;
}

@media only screen and (min-width: 768px) {
    #id-card-div {
        padding: 40px!important;

    }
}